.pc {
    display: block;
}

.sp {
    display: none;
}

.l-container {
    max-width: 1080px;
    margin: 0 auto;
}

.container-low {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
}

.c-mainvisual {
    height: 200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: url(../images/price/img_mv01.png) no-repeat center;
    margin-bottom: 23px;
}

.c-mainvisual .ttl {
    font-size: 3rem;
    font-weight: 700;
    padding: 5px 20px 3px 20px;
}

.c-topic {
    padding-left: 35px;
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    margin-bottom: 29px;
}

.c-topic::before {
    content: "";
    background: url(../images/price/icon_topic01.svg) no-repeat center;
    width: 24px;
    height: 20px;
    background-size: contain;
    position: absolute;
    left: 1px;
    top: -4px;
}

.c-topic ul {
    display: flex;
    flex-wrap: wrap;
}

.c-topic li {
    font-size: 1.4rem;
    margin-right: 28px;
}

.c-topic li a {
    color: #00B5BB;
    position: relative;
}

.c-topic li a::after {
    content: "";
    background: url(../images/price/icon_next01.svg) no-repeat center;
    background-size: contain;
    width: 8px;
    height: 12px;
    right: -22px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.c-title01 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 35px;
    position: relative;
    margin-bottom: 43px;
}

.c-title01::before {
    content: "";
    width: 54px;
    height: 5px;
    background: #00B5BB;
    border-radius: 5px;
    position: absolute;
    right: calc(50% - 2px);
    bottom: 5px;
}

.c-title01::after {
    content: "";
    width: 54px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    left: calc(50% - 2px);
    bottom: 5px;
    background: #CCCCCC;
}

.c-anchor {
    margin-bottom: 100px;
}

.c-anchor ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-anchor li {
    width: calc(33.3% - 20px);
}

.c-anchor a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #00B5BB;
    border-radius: 10px;
    width: 100%;
    padding: 12px 55px 10px 65px;
    min-height: 60px;
    font-size: 1.8rem;
    color: #00B5BB;
    font-weight: 700;
    position: relative;
    transition: 0.5s;
}

.c-anchor a::after {
    content: "";
    background: url(../images/price/icon_down01.svg) no-repeat center;
    background-size: contain;
    width: 20px;
    height: 14px;
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
}

.c-anchor a:hover {
    opacity: 0.8;
    transform: translateY(-4px);
}

.c-btncontact {
    display: flex;
    max-width: 420px;
    margin: 0 auto;
    padding: 30px 23px 30px 20px;
    border-radius: 10px;
    background: #EF8000;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    transition: 0.5s;
}

.c-btncontact span {
    padding-left: 64px;
    position: relative;
}

.c-btncontact span::before {
    content: "";
    background: url(../images/price/icon_price_mail.svg) no-repeat center;
    background-size: contain;
    width: 45px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.c-btncontact:hover {
    opacity: 0.8;
}

.banner-area {
    width: 100%;
    position: relative;
}

.banner-area .banner__heading {
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.breadcrum {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 0;
    margin-top: 16px;
}

.breadcrum .breadcrum__item {
    color: #00B5BB;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.breadcrum .breadcrum__item.disabled {
    color: #6E6E6E;
}

.breadcrum .breadcrum__item:not(:last-child)::after {
    content: url("../images/use/icon_arrow_right.svg");
    display: block;
    margin-left: 15px;
    margin-right: 5px;
}

.breadcrum .icon {
    margin-right: 10px;
}

.breadcrum .icon.icon--house {
    width: 23.45px;
}

.cm-lead {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    margin-top: 5px;
    padding: 20px 0;
    position: relative;
}

.cm-lead::after,
.cm-lead::before {
    content: "";
    width: 55px;
    height: 5px;
    display: block;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    bottom: 0;
}

.cm-lead::after {
    background-color: #CCCCCC;
    transform: translate(-3px, -1px);
}

.cm-lead::before {
    background-color: #00B5BB;
    transform: translate(-53px, -1px);
}

@media only screen and (max-width: 1079px) {
    .l-container {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 768px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
    .l-container {
        padding: 0 18px;
    }
    .c-mainvisual {
        height: 100px;
        margin-bottom: 17px;
    }
    .c-mainvisual .ttl {
        font-size: 1.8rem;
        padding: 0px 20px 2px 20px;
    }
    .c-topic {
        padding-left: 44px;
        margin-bottom: 15px;
    }
    .c-topic li {
        font-size: 1.2rem;
        margin-right: 20px;
    }
    .c-topic::before {
        width: 17px;
        height: 16px;
        left: 23px;
        top: -3px;
    }
    .c-topic li a::after {
        width: 6px;
        height: 9px;
        right: -16px;
    }
    .c-title01 {
        font-size: 1.9rem;
        padding-bottom: 21px;
        margin-bottom: 19px;
    }
    .c-title01::before {
        width: 28px;
        height: 2px;
    }
    .c-title01::after {
        width: 28px;
        height: 2px;
    }
    .c-anchor {
        margin-bottom: 44px;
    }
    .c-anchor ul {
        padding: 0 10px;
    }
    .c-anchor li {
        width: calc(33.3% - 8px);
    }
    .c-anchor a {
        border: 1px solid #00B5BB;
        border-radius: 5px;
        padding: 5px 20px 5px 7px;
        min-height: 35px;
        font-size: 1.2rem;
    }
    .c-anchor a::after {
        width: 10px;
        height: 10px;
        right: 6px;
    }
    .c-btncontact {
        padding: 14px 10px 14px 12px;
        border-radius: 5px;
        font-size: 1.2rem;
        text-align: center;
        justify-content: center;
        font-weight: 700;
        transition: 0.5s;
        max-width: 225px;
    }
    .c-btncontact span {
        padding-left: 30px;
        position: relative;
    }
    .c-btncontact span::before {
        width: 22px;
        height: 16px;
    }
}

@media screen\0 {
    .c-anchor a {
        padding: 18px 55px 10px 65px;
    }
}