.request-contact {
    width: 100%;
}

.container {
    width: 100%;
    margin: auto;
    max-width: 1080px;
}

.lead {
    width: 100%;
}

.lead p {
    padding: 0 24%;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.1px;
}

.contact-frm {
    width: 100%;
    padding: 3% 26.5%;
    margin-top: 26px;
    border: 2px solid #00b5bb;
    border-radius: 10px;
}

.contact-frm p {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 4px;
    background: #eee;
    border-radius: 65px;
}

.contact-frm .contact-phone-number {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 42px;
    font-size: 40px;
    font-weight: 600;
    color: #00B5BB;
}

.contact-frm .contact-phone-number img {
    padding-right: 26px;
}

.contact-frm span {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 2px;
    display: block;
}

.form-contact {
    width: 100%;
    margin-top: 34px;
    margin-bottom: 32px;
}

.form-contact .form-items {
    width: 100%;
    display: flex;
    padding-bottom: 25px;
    padding: 18px 0px 20px 0px;
    border-top: 1px solid #AAAAAA;
    align-items: center;
}

.form-contact .form-items:first-child {
    border-top: 0;
}

.form-contact .form-items.last-form {
    padding-top: 20px;
    align-items: flex-start;
}

.form-contact .form-items.last-form .tag {
    margin-top: 5px;
}

.form-contact .form-items.items_9 {
    align-items: flex-start;
    padding-top: 14px;
}

.form-contact .form-items.items_9 .tag {
    margin-top: 5px;
}

.form-contact .form-items.items_4 {
    padding-top: 20px;
}

.form-contact .form-items.items_5 {
    padding-top: 17px;
}

.form-contact .form-items.items_6 {
    padding-bottom: 16px;
    padding-top: 14px;
}

.form-contact .form-items.items_7 {
    padding-bottom: 18px;
}

.form-contact .form-items.items_8 {
    padding-top: 15px;
}

.form-contact .form-items .tag {
    width: 100%;
    max-width: 29%;
    text-align: left;
    letter-spacing: 1px;
    font-size: 16px;
    padding-right: 23px;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 5px;
}

.form-contact .form-items .tag .tag-type {
    float: right;
    padding: 12px 9px;
    font-size: 16px;
    font-weight: 600;
    background: #E50000;
    border-radius: 6px;
    color: #fff;
    margin-top: -3px;
}

.form-contact .form-items .input-form {
    width: 100%;
    max-width: 71%;
    padding-left: 5px;
}

.form-contact .form-items .select-form {
    max-width: 304px;
    width: 100%;
    font-size: 17px;
    height: 50px;
    border: 1px solid #AAA;
    background: #F9F9F9;
    border-radius: 4px;
    margin-top: -2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    border-radius: 0.25em;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    width: 304px;
}

.form-contact .form-items .select-form::after {
    grid-area: select;
    margin-right: 15px;
    content: "";
    height: 10px;
    width: 10px;
    display: block;
    border: 3px solid #000;
    border-top: 0;
    border-left: 0;
    top: 45%;
    right: 5px;
    position: absolute;
    transform: translateY(-50%) rotate( 45deg);
    transition: 0.3s ease;
}

.form-contact .form-items .input-form select::-ms-expand {
    display: none;
}

.form-contact .form-items .input-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
    grid-area: select;
    max-width: 304px;
    height: 50px;
    padding: 6px 18px;
}

.form-contact .form-items .input-form input {
    width: 100%;
    padding: 11px;
    height: 50px;
    border: 1px solid #AAA;
    background: #F9F9F9;
    border-radius: 4px;
}

.form-contact .form-items .input-form .button-check-form {
    width: 24px;
    height: 26px;
    margin-right: 16px;
}

.form-contact .form-items .input-form p {
    width: 100%;
    font-size: 16px;
    letter-spacing: 0.8px;
    margin-bottom: 4px;
}

.form-contact .form-items .input-form .line-icon {
    color: #EF8000;
    width: 100%;
    position: relative;
    display: inline;
    padding-right: 30px;
    background-image: radial-gradient(#ef8000, #ef8000);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: no-repeat;
    padding-bottom: 2px;
}

.form-contact .form-items .input-form .line-icon::after,
.form-contact .form-items .input-form .line-icon::before {
    content: "";
    width: 14.33px;
    height: 14.33px;
    display: block;
    border: 1px solid #EF8000;
    position: absolute;
    right: 0;
    top: 43%;
}

.form-contact .form-items .input-form .line-icon::after {
    transform: translate(calc(100% - 17.33px), -7.5px);
    border-top-width: 3px;
}

.form-contact .form-items .input-form .line-icon::before {
    transform: translate(calc(100% - 20.33px), -4.5px);
    border-top-color: transparent;
    border-right-color: transparent;
}

.form-contact .form-items .input-form textarea {
    width: 100%;
    border: 1px solid #AAA;
    background: #F9F9F9;
    border-radius: 4px;
}

.form-contact .form-items .input-form .icon-form {
    margin-top: 27px;
}

.form-contact .form-items .input-form .icon-form input[type=checkbox] {
    background: #AAA;
    border-radius: 5px;
}

.form-contact .comfirm {
    width: 100%;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 34px;
    letter-spacing: 0.8px;
    line-height: 29px;
}

.form-contact .submit-form {
    width: 100%;
    text-align: center;
}

.form-contact .submit-form .button {
    width: 300px;
    padding: 22px 10px;
    border: unset;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #EF8000;
    color: #fff;
    position: relative;
    border: 2px solid #EF8000;
    transition: 0.3s ease;
    cursor: pointer;
    display: block;
    margin: auto;
}

.form-contact .submit-form .button::after {
    content: "";
    height: 13px;
    width: 13px;
    display: block;
    border: 3px solid #fff;
    border-top: 0;
    border-left: 0;
    top: 50%;
    right: 19px;
    position: absolute;
    transform: translateY(-50%) rotate(-45deg);
    transition: 0.3s ease;
}

.form-contact .submit-form .button::before {
    display: none;
    content: "";
    background: #fff;
    height: 3px;
    width: 13px;
    top: 47%;
    position: absolute;
    transform: translateY(-50%) rotate(41deg);
    right: 19px;
}

.form-contact .submit-form .button:hover {
    background-color: #FFF;
    color: #ef8000;
}

.form-contact .submit-form .button:hover::after {
    border-color: #EF8000;
}

@media only screen and (max-width: 1024px) {
    .lead {
        padding-top: 25px;
    }
    .lead p {
        padding: 0;
    }
    .contact-frm p {
        max-width: 375px;
        margin: auto;
    }
    .form-contact {
        margin-top: 25px;
    }
    .form-contact .form-items.items_9 {
        align-items: flex-start;
        padding-top: 14px;
    }
    .form-contact .form-items.items_9 .tag {
        margin-top: 5px;
    }
    .form-contact .form-items.items_4 {
        padding-top: 18px;
    }
    .form-contact .form-items.items_5 {
        padding-top: 18px;
    }
    .form-contact .form-items.items_6 {
        padding-bottom: 20px;
        padding-top: 18px;
    }
    .form-contact .form-items.items_7 {
        padding-bottom: 20px;
    }
    .form-contact .form-items.items_8 {
        padding-top: 18px;
    }
    .form-contact .form-items .tag {
        max-width: 38%;
        margin-bottom: 10px;
        padding-right: 2%;
    }
    .form-contact .form-items .tag .tag-type {
        margin-top: 5px;
    }
    .form-contact .form-items .input-form {
        max-width: 64%;
        padding-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    .lead {
        padding-top: 25px;
        text-emphasis: left;
    }
    .lead p {
        padding: 0;
        text-align: left;
    }
    .contact-frm {
        padding: 3%;
    }
    .contact-frm .contact-phone-number {
        font-size: 2.4rem;
        margin-top: 20px;
    }
    .contact-frm .contact-phone-number img {
        width: 55px;
        height: 26px;
    }
    .contact-frm p {
        max-width: 375px;
        margin: auto;
        text-align: center;
    }
    .form-contact .comfirm {
        text-align: left;
    }
    .contact-frm span {
        font-size: 18px;
        padding: 0 3%;
        text-align: left;
    }
    .form-contact {
        margin-top: 25px;
    }
    .form-contact .form-items {
        display: block;
    }
    .form-contact .form-items .tag {
        max-width: 100%;
        margin-bottom: 10px;
        padding-right: 0;
    }
    .form-contact .form-items .input-form {
        max-width: 100%;
        padding-left: 0;
    }
}