.c-tbl01 {
    width: 100%;
    margin-bottom: 77px;
}

.c-tbl01 table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.c-tbl01 table td,
.c-tbl01 table th {
    text-align: center;
    vertical-align: middle;
    padding: 12px 10px;
    border: 1px solid #00B5BB;
}

.c-tbl01 table tr:first-child th {
    border-bottom: none;
}

.c-tbl01 table tr:first-child th:first-child {
    border-right: none;
}

.c-tbl01 table tr:first-child th:nth-child(2) {
    border-left: none;
}

.c-tbl01 table tr:nth-child(2) th,
.c-tbl01 table tr:nth-child(2) td {
    border-top: none;
}

.c-tbl01 table tr th:first-child,
.c-tbl01 table tr td:first-child {
    border-right: none;
}

.c-tbl01 table tr th:nth-child(2),
.c-tbl01 table tr td:nth-child(2) {
    border-left: none;
}

.c-tbl01 table th {
    background: #E5FEFF;
    font-weight: 700;
    line-height: 1.2;
}

.c-tbl01 table td {
    padding: 12px 10px 15px 10px;
}

.c-tbl01 table td p {
    margin-bottom: 0;
    line-height: 1.25;
    display: inline-block;
    text-align: left;
}

.c-list01 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.c-list01 li {
    width: calc(33.3% - 23px);
    position: relative;
}

.c-list01 li img {
    width: 100%;
}

.c-list01 li .btn {
    position: absolute;
    right: 22px;
    bottom: 16px;
    width: 44px;
    display: block;
    cursor: pointer;
}

.c-list01 li .btn img {
    width: 100%;
}

.p-price01 p {
    line-height: 1.9;
    margin-bottom: 45px;
}

.p-price02__content {
    border-radius: 10px;
    border: 2px solid #00B5BB;
    margin-bottom: 100px;
}

.p-price02__content .ttl {
    font-size: 2.5rem;
    color: #fff;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    background: #00B5BB;
    font-weight: 700;
    line-height: 1.4;
    min-width: 250px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -42px;
    padding: 6px 9px 3px 10px;
    margin-bottom: 31px;
}

.p-price02__content .ttl span {
    font-size: 5rem;
    margin-right: 8px;
}

.p-price02__content .content-01 {
    display: flex;
    justify-content: space-between;
    padding: 0 36px 0 39px;
    margin-bottom: -4px;
}

.p-price02__content .content-01 .left {
    max-width: 350px;
    flex-shrink: 0;
}

.p-price02__content .content-01 .left img {
    width: 100%;
}

.p-price02__content .content-01 .right {
    max-width: calc(100% - 350px);
    padding-left: 48px;
    padding-top: 36px;
}

.p-price02__content .content-01 .right .ttl-1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
    padding-bottom: 12px;
    border-bottom: 2px solid #00B5BB;
    margin-bottom: 38px;
    padding-left: 3px;
}

.p-price02__content .content-01 .right .ttl-1 .cl-01 {
    color: #00B5BB;
    margin-right: 20px;
}

.p-price02__content .content-01 .right .ttl-1 .num {
    font-size: 3rem;
}

.p-price02__content .content-01 .right .c-tbl01 td,
.p-price02__content .content-01 .right .c-tbl01 th {
    border: 1px solid #00B5BB;
}

.p-price02__content .content-01 .right .c-tbl01 table td {
    padding: 11px 10px 12px 10px;
}

.p-price02__content .content-01 .right .c-tbl01 table td p {
    line-height: 1.6;
}

.p-price02__content .content-01 .right .c-tbl01 tr:first-child th {
    border-bottom: none;
}

.p-price02__content .content-01 .right .c-tbl01 tr:nth-child(2) th,
.p-price02__content .content-01 .right .c-tbl01 tr:nth-child(2) td {
    border-top: none;
}

.p-price02__content .content-02 {
    padding: 0 36px 38px 39px;
}

.p-price02__content .content-02 .ttl-2 {
    font-size: 2rem;
    font-weight: 700;
    display: block;
    border: 1px solid #EF8000;
    background: #FFF8F1;
    border-radius: 10px;
    line-height: 1.4;
    padding: 10px 23px;
    margin-bottom: 32px;
}

@media only screen and (max-width: 1079px) {
    .l-container {
        padding: 0 20px;
    }
    .p-price02__content .content-01 .left {
        max-width: 37%;
    }
    .p-price02__content .content-01 .right {
        max-width: 63%;
        padding-left: 0;
    }
    .c-tbl01 table td {
        padding: 12px 4px 15px 4px;
    }
    .p-price02__content .content-01 .right .c-tbl01 table td {
        padding: 11px 4px 12px 4px;
    }
    .c-anchor li {
        width: calc(33.3% - 10px);
    }
}

@media only screen and (max-width: 768px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
    .l-container {
        padding: 0 18px;
    }
    .c-mainvisual {
        height: 100px;
        margin-bottom: 17px;
    }
    .c-mainvisual .ttl {
        font-size: 1.8rem;
        padding: 0px 20px 2px 20px;
    }
    .c-topic {
        padding-left: 44px;
        margin-bottom: 15px;
    }
    .c-topic li {
        font-size: 1.2rem;
        margin-right: 20px;
    }
    .c-topic::before {
        width: 17px;
        height: 16px;
        left: 23px;
        top: -3px;
    }
    .c-topic li a::after {
        width: 6px;
        height: 9px;
        right: -16px;
    }
    .c-tbl01 {
        margin-bottom: 37px;
    }
    .c-tbl01 table td,
    .c-tbl01 table th {
        padding: 12px 5px;
    }
    .c-title01 {
        font-size: 1.9rem;
        padding-bottom: 21px;
        margin-bottom: 19px;
    }
    .c-title01::before {
        width: 28px;
        height: 2px;
    }
    .c-title01::after {
        width: 28px;
        height: 2px;
    }
    .c-anchor {
        margin-bottom: 44px;
    }
    .c-anchor ul {
        padding: 0 10px;
    }
    .c-anchor li {
        width: calc(33.3% - 8px);
    }
    .c-anchor a {
        border: 1px solid #00B5BB;
        border-radius: 5px;
        padding: 5px 20px 5px 7px;
        min-height: 35px;
        font-size: 1.2rem;
    }
    .c-anchor a::after {
        width: 10px;
        height: 10px;
        right: 6px;
    }
    .c-list01 {
        flex-wrap: wrap;
        margin-bottom: 8px;
    }
    .c-list01 li {
        width: calc(50% - 6px);
        margin-bottom: 12px;
    }
    .c-list01 li .btn {
        right: 6px;
        bottom: 6px;
        width: 24px;
    }
    .c-btncontact {
        padding: 14px 10px 14px 12px;
        border-radius: 5px;
        font-size: 1.2rem;
        text-align: center;
        justify-content: center;
        font-weight: 700;
        transition: 0.5s;
        max-width: 225px;
    }
    .c-btncontact span {
        padding-left: 30px;
        position: relative;
    }
    .c-btncontact span::before {
        width: 22px;
        height: 16px;
    }
    .p-price01 p {
        line-height: 1.7;
        margin-bottom: 25px;
        font-size: 1.2rem;
    }
    .p-price02__content {
        border-radius: 5px;
        border: 1px solid #00B5BB;
        margin-bottom: 50px;
    }
    .p-price02__content .ttl {
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.4;
        min-width: 125px;
        border-radius: 5px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: -24px;
        padding: 4px 10px 3px 12px;
        margin-bottom: 14px;
        position: relative;
        top: -3px;
    }
    .p-price02__content .ttl span {
        font-size: 2.4rem;
        margin-right: 4px;
    }
    .p-price02__content .content-01 {
        padding: 0 15px 0 17px;
        flex-wrap: wrap;
        margin-bottom: -4px;
    }
    .p-price02__content .content-01 .left {
        max-width: 100%;
        padding: 0px 38px 0 38px;
        margin: 0 auto;
    }
    .p-price02__content .content-01 .right {
        max-width: 100%;
        padding: 0;
    }
    .p-price02__content .content-01 .right .ttl-1 {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.3;
        padding-bottom: 6px;
        margin-bottom: 14px;
        padding-left: 0px;
        margin-top: 11px;
        border-bottom: 1px solid #00B5BB;
    }
    .p-price02__content .content-01 .right .ttl-1 .num {
        font-size: 1.8rem;
    }
    .p-price02__content .content-01 .right .ttl-1 .cl-01 {
        margin-right: 10px;
        line-height: 1.2;
    }
    .p-price02__content .content-01 .right .c-tbl01 td,
    .p-price02__content .content-01 .right .c-tbl01 th {
        font-size: 1.1rem;
        padding: 8px 2px;
    }
    .p-price02__content .content-02 {
        padding: 0 16px 18px 16px;
    }
    .p-price02__content .content-02 .ttl-2 {
        font-size: 1.2rem;
        border-radius: 5px;
        padding: 8px 15px 10px 12px;
        margin-bottom: 14px;
        letter-spacing: 1.5px;
        margin-top: -13px;
        width: 100%;
    }
}

@media only screen and (max-width: 374px) {
    .c-tbl01 table td,
    .c-tbl01 table th {
        padding: 12px 4px;
        font-size: 1.2rem;
    }
}

@media screen\0 {
    .c-anchor a {
        padding: 18px 55px 10px 65px;
    }
}