img {
    width: 100%;
}

.step-box .step-box__heading {
    font-weight: 700;
}

.step-box .step-box__heading {
    color: #00B5BB;
}

.traffic-list .traffic-type .traffic__by,
.precautions .precautions__sign,
.what-you-need-for-contract .wyn__license,
.what-you-need-for-contract .wyn__seal,
.step-box .step-box__heading,
.cm-heading {
    display: flex;
    align-items: center;
}

.payment-method .method-block .method__method .btn-method-tag,
.payment-method .method-block .method__method,
.payment-method .method-block .method__title,
.what-you-need-for-contract .wyn-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.security-box,
.what-you-need-for-contract {
    display: flex;
    flex-wrap: wrap;
}

.precautions .precautions-list .precautions__item,
.payment-method {
    display: flex;
}

.cm-heading {
    width: 100%;
    height: 68px;
    font-size: 25px;
    font-weight: 700;
    color: #333;
    background-color: #E5FEFF;
    padding-left: 40px;
    border-top: 3px solid #00B5BB;
}

.step-box {
    width: 100%;
    margin-top: 41px;
    padding-bottom: 5px;
}

.step-box .step-box__heading {
    font-size: 20px;
    color: #333;
    border-bottom: 1px solid #00B5BB;
    padding-bottom: 13px;
}

.step-box .step-box__heading .step-order {
    font-size: 40px;
    color: #00B5BB;
    margin-right: 19px;
}

.step-box .step-box__desc {
    margin-top: 18px;
    line-height: 1.9;
}

.what-you-need-for-contract {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 17px;
    justify-content: space-between;
}

.what-you-need-for-contract .wyn-title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 59px;
}

.what-you-need-for-contract .wyn-title .icon.icon-note {
    width: 33.74px;
    margin-right: 20px;
}

.what-you-need-for-contract .wyn-item {
    width: 100%;
    max-width: calc(50% - 32px);
}

.what-you-need-for-contract .wyn-item.comp-contract .wyn__name {
    border-color: #00B5BB;
    color: #00B5BB;
}

.what-you-need-for-contract .wyn-item.comp-contract .wyn__license {
    border-color: #00B5BB;
}

.what-you-need-for-contract .wyn__name {
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #EF8000;
    border-radius: 8px;
    text-align: center;
    padding: 5px 0;
    margin-top: 28px;
    color: #EF8000;
}

.what-you-need-for-contract .wyn__license,
.what-you-need-for-contract .wyn__seal {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.7;
    margin-top: 19px;
    color: #333333;
    padding-bottom: 6px;
}

.what-you-need-for-contract .wyn__license .icon.icon-card,
.what-you-need-for-contract .wyn__seal .icon.icon-card {
    width: 44px;
    margin-right: 20px;
}

.what-you-need-for-contract .wyn__license .icon.icon-seal,
.what-you-need-for-contract .wyn__seal .icon.icon-seal {
    width: 33.29px;
    margin-right: 25px;
}

.what-you-need-for-contract .wyn__license {
    height: 62px;
    min-height: 62px;
    margin-top: 19px;
    border-bottom: 2px dotted #EF8000;
}

.what-you-need-for-contract .wyn__seal {
    margin-top: 13px;
    padding-left: 5px;
}

.payment-method {
    width: 100%;
    justify-content: space-between;
}

.payment-method .method-block {
    width: 100%;
    max-width: calc(50% - 20px);
    overflow: hidden;
    border-radius: 13px;
    border: 1px solid #EF8000;
    margin-top: 41px;
}

.payment-method .method-block .method__title {
    width: 100%;
    height: 69px;
    min-height: 69px;
    font-size: 20px;
    background-color: #FFF8F1;
    letter-spacing: 2px;
}

.payment-method .method-block .method__title .icon.icon-note {
    width: 28px;
    margin-right: 20px;
}

.payment-method .method-block .method__method {
    flex-wrap: wrap;
    height: 38px;
    margin-top: 32px;
    align-items: flex-start;
}

.payment-method .method-block .method__method .btn-method-tag {
    width: 115px;
    height: 38px;
    border-radius: 12px;
    background-color: #EF8000;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-right: 25px;
    letter-spacing: 1px;
}

.payment-method .method-block .method__method .label-method {
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.payment-method .method-block .method__method .label-method.label-nor {
    font-size: 16px;
    line-height: 1.8;
    transform: translateY(-9px);
}

.payment-method .method-block .method__method .label-method .label-light {
    display: block;
    font-weight: 400;
}

.payment-method .method-block .method__desc {
    padding: 32px 60px;
    width: 100%;
    font-size: 16px;
    color: #333;
    letter-spacing: 0.2px;
}

.how-to-use {
    border: 1px solid #EF8000;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    padding: 8px 29px;
    margin-top: 42px;
}

.security-box {
    width: 100%;
    margin-top: 30px;
}

.security-box .security__img {
    width: 100%;
    max-width: calc(40% + 17px);
}

.security-box .security__content {
    width: 100%;
    max-width: calc(60% - 17px);
    padding-left: 50px;
}

.precautions {
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 12px;
    margin-top: 30px;
    padding: 24px 34px 15px 34px;
}

.precautions .precautions__sign {
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

.precautions .precautions__sign .icon.icon-sign {
    width: 23.46px;
    margin-right: 10px;
}

.precautions .precautions-list {
    margin-top: 10px;
}

.precautions .precautions-list .precautions__item {
    font-size: 16px;
    line-height: 1.7;
    padding: 6px 0;
}

.precautions .precautions-list .precautions__item::before {
    content: "";
    width: 10px;
    min-width: 10px;
    height: 10px;
    display: block;
    background-color: #EF8000;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 8px;
}

.ggmaps {
    width: 100%;
    margin-top: 50px;
}

.ggmaps iframe {
    width: 100%;
    height: 751.17px;
    margin-top: 48px;
}

.traffic-list {
    margin-top: 60px;
    background-color: #FFF8F1;
    border-radius: 12px;
    padding: 28px 44px;
}

.traffic-list .traffic-type {
    width: 100%;
    padding-bottom: 26px;
}

.traffic-list .traffic-type .traffic__by {
    font-weight: 700;
    font-size: 20px;
}

.traffic-list .traffic-type .traffic__by .icon.icon-train {
    width: 25.45px;
    margin-right: 22px;
}

.traffic-list .traffic-type .traffic__by .icon.icon-oto {
    width: 34.74px;
    margin-right: 18px;
}

.traffic-list .traffic-type .traffic__desc {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
    line-height: 1.9;
}

.traffic-list .traffic-type.traffic-oto {
    border-top: 1px solid #333333;
    padding-top: 30px;
}

.usage-box {
    margin-top: 47px;
}

.payment-box {
    margin-top: 61px;
}

.using-box {
    margin-top: 66px;
}

@media only screen and (max-width: 1024px) {
    .ggmaps iframe {
        width: 100%;
        height: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .cm-heading {
        font-size: 20px;
        padding-left: 10px;
    }

    .step-box .step-box__heading {
        font-size: 16px;
    }

    .step-box .step-box__heading .step-order {
        font-size: 20px;
        margin-right: 10px;
    }

    .payment-method {
        flex-wrap: wrap;
    }

    .payment-method .method-block {
        max-width: 100%;
        margin-top: 41px;
    }

    .payment-method .method-block .method__title .icon.icon-note {
        margin-right: 10px;
    }

    .payment-method .method-block .method__method {
        margin-top: 20px;
        height: auto;
        align-items: center;
    }

    .payment-method .method-block .method__method .btn-method-tag {
        border-radius: 6px;
    }

    .payment-method .method-block .method__method .label-method {
        font-size: 16px;
    }

    .payment-method .method-block .method__method .label-method.label-nor {
        transform: translate(0, 0);
    }

    .payment-method .method-block .method__desc {
        padding: 20px 10px;
    }

    .security-box .security__img {
        max-width: 100%;
    }

    .security-box .security__content {
        max-width: 100%;
        padding-left: 0px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .precautions {
        border-radius: 6px;
        padding: 10px;
    }

    .traffic-list {
        border-radius: 6px;
        padding: 10px;
    }

    .traffic-list .traffic-type .traffic__by .icon.icon-train {
        margin-right: 10px;
    }

    .traffic-list .traffic-type .traffic__by .icon.icon-oto {
        margin-right: 10px;
    }

    .what-you-need-for-contract .wyn-title {
        justify-content: flex-start;
    }

    .what-you-need-for-contract .wyn-title .icon.icon-note {
        margin-right: 10px;
    }

    .what-you-need-for-contract .wyn-item {
        max-width: 100%;
    }

    .what-you-need-for-contract .wyn__license .icon.icon-card,
    .what-you-need-for-contract .wyn__seal .icon.icon-card {
        margin-right: 10px;
    }

    .what-you-need-for-contract .wyn__license .icon.icon-seal,
    .what-you-need-for-contract .wyn__seal .icon.icon-seal {
        margin-right: 10px;
    }

    .payment-method .method-block .method__method .btn-method-tag {
        width: calc(100% - 20px);
        border-radius: 6px;
        margin: 0 auto;
    }
}