.request-contact {
    width: 100%;
}

.container {
    width: 100%;
    margin: auto;
    max-width: 1080px;
}

.lead {
    width: 100%;
    padding-top: 67px;
    p {
        padding: 0 25%;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -0.1px;
    }
}

.contact {
    width: 100%;
    padding: 3% 26.5%;
    margin-top: 26px;
    border: 1px solid #00b5bb;
    border-radius: 10px;
    p {
        width: 100%;
        text-align: center;
        font-size: 20px;
        padding: 4px;
        background: #eee;
        border-radius: 65px;
    }
}