@charset 'utf-8';
@import '../css/functions.scss';

img {
    width: 100%;
}

%font-weight-bold {
    font-weight: 700;
}

$c-main: #00B5BB;

%color-main {
    color: #00B5BB;
}

%display-flex-center {
    display: flex;
    align-items: center;
}

%display-flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%display-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

%display-flex {
    display: flex;
}

.cm-heading {
    width: 100%;
    height: 68px;
    font-size: 25px;
    font-weight: 700;
    color: #333;
    background-color: #E5FEFF;
    padding-left: 40px;
    border-top: 3px solid #00B5BB;
    @extend %display-flex-center;
}

.step-box {
    width: 100%;
    margin-top: 41px;
    padding-bottom: 5px;

    .step-box__heading {
        font-size: 20px;
        color: #333;
        border-bottom: 1px solid $c-main;
        padding-bottom: 13px;
        @extend %font-weight-bold;
        @extend %color-main;
        @extend %display-flex-center;

        .step-order {
            font-size: 40px;
            color: #00B5BB;
            margin-right: 19px;
        }
    }

    .step-box__desc {
        margin-top: 18px;
        line-height: 1.9;
    }

}

.what-you-need-for-contract {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 17px;
    justify-content: space-between;
    @extend %display-flex-wrap;

    .wyn-title {
        width: 100%;
        text-align: center;
        font-size: 20px;
        margin-top: 59px;
        @extend %display-flex-center-center;

        .icon {
            &.icon-note {
                width: 33.74px;
                margin-right: 20px;
            }
        }
    }

    .wyn-item {
        width: 100%;
        max-width: calc(50% - 32px);

        &.comp-contract {
            .wyn__name {
                border-color: #00B5BB;
                color: #00B5BB;
            }

            .wyn__license {
                border-color: #00B5BB;
            }
        }
    }

    .wyn__name {
        font-size: 16px;
        font-weight: 700;
        border: 2px solid #EF8000;
        border-radius: 8px;
        text-align: center;
        padding: 5px 0;
        margin-top: 28px;
        color: #EF8000;
    }

    .wyn__license,
    .wyn__seal {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.7;
        margin-top: 19px;
        color: #333333;
        padding-bottom: 6px;

        @extend %display-flex-center;

        .icon {
            &.icon-card {
                width: 44px;
                margin-right: 20px;
            }

            &.icon-seal {
                width: 33.29px;
                margin-right: 25px;
            }
        }
    }

    .wyn__license {
        height: 62px;
        min-height: 62px;
        margin-top: 19px;
        border-bottom: 2px dotted #EF8000;
    }

    .wyn__seal {
        margin-top: 13px;
        padding-left: 5px;
    }
}

.payment-method {
    width: 100%;
    justify-content: space-between;
    @extend %display-flex;

    .method-block {
        width: 100%;
        max-width: calc(50% - 20px);
        overflow: hidden;
        border-radius: 13px;
        border: 1px solid #EF8000;
        margin-top: 41px;

        .method__title {
            width: 100%;
            height: 69px;
            min-height: 69px;
            font-size: 20px;
            background-color: #FFF8F1;
            letter-spacing: 2px;
            @extend %display-flex-center-center;

            .icon {
                &.icon-note {
                    width: 28px;
                    margin-right: 20px;
                }
            }
        }

        .method__method {
            flex-wrap: wrap;
            height: 38px;
            margin-top: 32px;
            @extend %display-flex-center-center;
            align-items: flex-start;

            .btn-method-tag {
                width: 115px;
                height: 38px;
                border-radius: 12px;
                background-color: #EF8000;
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                margin-right: 25px;
                letter-spacing: 1px;
                @extend %display-flex-center-center;

            }

            .label-method {
                font-size: 20px;
                font-weight: 700;
                color: #333;

                &.label-nor {
                    font-size: 16px;
                    line-height: 1.8;
                    transform: translateY(-9px);
                }

                .label-light {
                    display: block;
                    font-weight: 400;
                }
            }


        }

        .method__desc {
            padding: 32px 60px;
            width: 100%;
            font-size: 16px;
            color: #333;
            letter-spacing: 0.2px;
        }

    }

}

.how-to-use {
    border: 1px solid #EF8000;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    padding: 8px 29px;
    margin-top: 42px;
}

.security-box {
    width: 100%;
    margin-top: 30px;
    @extend %display-flex-wrap;

    .security__img {
        width: 100%;
        max-width: calc(40% + 17px);
    }

    .security__content {
        width: 100%;
        max-width: calc(60% - 17px);
        padding-left: 50px;
    }

}

.precautions {
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 12px;
    margin-top: 30px;
    padding: 24px 34px 15px 34px;

    .precautions__sign {
        @extend %display-flex-center;
        font-weight: 700;
        font-size: 20px;
        color: #000;

        .icon {
            &.icon-sign {
                width: 23.46px;
                margin-right: 10px;
            }
        }
    }

    .precautions-list {
        margin-top: 10px;

        .precautions__item {
            font-size: 16px;
            line-height: 1.7;
            padding: 6px 0;
            @extend %display-flex;

            &::before {
                content: '';
                width: 10px;
                min-width: 10px;
                height: 10px;
                display: block;
                background-color: #EF8000;
                border-radius: 50%;
                margin-top: 10px;
                margin-right: 8px;
            }
        }
    }
}

.ggmaps {
    width: 100%;
    margin-top: 50px;

    iframe {
        width: 100%;
        height: 751.17px;
        margin-top: 48px;
    }
}

.traffic-list {
    margin-top: 60px;
    background-color: #FFF8F1;
    border-radius: 12px;
    padding: 28px 44px;

    .traffic-type {
        width: 100%;
        padding-bottom: 26px;

        .traffic__by {
            font-weight: 700;
            font-size: 20px;
            @extend %display-flex-center;

            .icon {
                &.icon-train {
                    width: 25.45px;
                    margin-right: 22px;
                }

                &.icon-oto {
                    width: 34.74px;
                    margin-right: 18px;
                }
            }
        }

        .traffic__desc {
            font-size: 16px;
            color: #333;
            margin-top: 10px;
            line-height: 1.9;
        }

        &.traffic-oto {
            border-top: 1px solid #333333;
            padding-top: 30px;
        }
    }
}

.usage-box {
    margin-top: 47px;
}

.payment-box {
    margin-top: 61px;
}

.using-box {
    margin-top: 66px;
}

@media only screen and (max-width: 1024px) {

    .ggmaps {
        iframe {
            width: 100%;
            height: 300px;
        }
    }

}

@media only screen and (max-width: 768px) {
    .cm-heading {
        font-size: 20px;
        padding-left: 10px;
    }

    .step-box {

        .step-box__heading {
            font-size: 16px;

            .step-order {
                font-size: 20px;
                margin-right: 10px;
            }
        }
    }

    .payment-method {
        flex-wrap: wrap;

        .method-block {
            max-width: 100%;
            margin-top: 41px;
            //padding-bottom: 20px;

            .method__title {
                .icon {
                    &.icon-note {
                        margin-right: 10px;
                    }
                }
            }

            .method__method {
                margin-top: 20px;
                height: auto;
                align-items: center;

                .btn-method-tag {
                    border-radius: 6px;
                }

                .label-method {
                    font-size: 16px;

                    &.label-nor {
                        transform: translate(0, 0);
                    }
                }


            }

            .method__desc {
                padding: 20px 10px;

            }

        }

    }

    .security-box {
        .security__img {
            max-width: 100%;
        }

        .security__content {
            max-width: 100%;
            padding-left: 0px;
            margin-top: 50px;
        }

    }
}

@media only screen and (max-width: 767px) {
    .precautions {
        border-radius: 6px;
        padding: 10px;
    }

    .traffic-list {
        border-radius: 6px;
        padding: 10px;

        .traffic-type {

            .traffic__by {

                .icon {
                    &.icon-train {

                        margin-right: 10px;
                    }

                    &.icon-oto {

                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .what-you-need-for-contract {
        .wyn-title {
            justify-content: flex-start;

            .icon {
                &.icon-note {
                    margin-right: 10px;
                }
            }
        }

        .wyn-item {
            max-width: 100%;
        }

        .wyn__license,
        .wyn__seal {
            .icon {
                &.icon-card {
                    margin-right: 10px;
                }

                &.icon-seal {
                    margin-right: 10px;
                }
            }
        }
    }

    .payment-method {

        .method-block {

            .method__method {

                .btn-method-tag {
                    width: calc(100% - 20px);
                    border-radius: 6px;
                    margin: 0 auto;
                }

            }

        }

    }
}